.custom-card {
  background-color: lightblue; 
  margin-bottom: 20px; 
}

.custom-img {
  max-height: 150px; 
  object-fit: contain; 
}

.details-image {
  max-width: 100%;
  max-height: 400px; 
  object-fit: contain; 
}


.update-button {
  margin-top: 10px;
  margin-bottom: 10px; 
}

