.custom-card {
    background-color: lightblue; 
    margin-bottom: 20px; 
  }
  
  .custom-img {
    max-height: 150px; 
    object-fit: cover; 
  }
  
.details-image {
    max-width: 100%;
    height: auto;
  }
  
  