.sound-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.sound-card{
  width: 23%;
  height: 500px;
}

.sound-image{
  width: 55%;
  height: 40%;
  margin-left: 55px;
  padding: 10px;
}

.sound-body{
  background: lightblue;
}
.sound-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.sound-buttons button{
  height: 40px;
}