.custom-card {
    background-color: lightblue; 
  }
  
  .custom-img {
    max-height: 150px;
  }
  
.details-image {
  max-width: 100%;
  height: auto;
}
.update-button {
  margin-top: 10px;
  margin-bottom: 10px; 
}