.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,  1fr));
  grid-gap:  22px;
  padding:  22px;
}

.product-card {

  border-radius:  10px;
  box-shadow:  0  2px  5px rgba(0,  0,  0,  0.1);
  padding:  0px;
  text-align: center;
}

.product-card img {
  width:  117%;
  height: auto;
  object-fit: cover;
}

.product-card h2 {
  margin:  10px  0;
  font-size:  17px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.product-card p {
  font-size:  15px;
  color: black;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(6,  fr);
  grid-gap:  12px;
}

.product-card img {
  width:  100%;
  height: auto;
}

@keyframes blink {
  0% { opacity:   1; }
  50% { opacity:   0; }
  100% { opacity:   1; }
}

.product-info {
 animation: blink   1s linear infinite;
 font-size:  34px;
 font-style: italic; /* Adjust this value to enlarge the text size */
}
